/_ReSharper.Poker.Calc
/Poker.Calc.sln.DotSettings.user
/Poker.Calc.1.2.dotCover
/Poker.Calc.suo
/Poker/Poker.csproj.user

/Poker/bin/
/Poker/obj/
/Poker.Tests/bin/
/Poker.Tests/obj/

/Poker.Cards.Views/bin/
/Poker.Cards.Views/obj/

/Poker.Calculator/bin/
/Poker.Calculator/obj/

/Poker.Calculator.Wpf/bin/
/Poker.Calculator.Wpf/obj/
/Poker.Calc.v12.suo
